.post-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.post-detail{
    margin-top: 60px;
    width: 70%;
    border: 1px solid #ccc;
}
.post-detail>h1{
    font-size: 50px;
}